* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    font-family: Arial;
    background-image: url("./register.png");
    background-size: cover;
}

.register-left h1 {
    color: white;
    font-size: 40px;
}

.register-left p {
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

.register-right {
    background: #ccc;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}

h1 {
    color: white;
}

p {
    color: white;
}

/* layout name */
.register-name {
    display: flex;
    gap: 58px;
}

/* card tự giãn */
.card {
    margin-left: 450px;
    width: 492px;
    min-height: 554px;
    border-radius: 4px;
    padding: 75px;
    background-color: rgba(236, 234, 234, 0.9);
}

/* group input */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group span {
    font-size: 16px;
    color: black;
    margin-top: 3px;
}

/* input full width */
input {
    width: 100%;
    padding: 8px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: 0.2s;
}

.name {
    width: 170px;
}

/* button */
.btn-signup {
    margin-top: 10px;
    padding: 15px;
    border: none;
    background-color: #0D6EFD;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}

.btn-signup:hover {
    background-color: #0b5ed7;
}

.confirm-link {
    color: red;
}

/* lỗi */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* input lỗi */
.input-error {
    border: 2px solid red;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.3);
}

/* success */
.success-message {
    color: green;
    margin-top: 10px;
    font-weight: bold;
}