* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: "Inter", Arial, sans-serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  border-bottom: 1px solid #ddd;
  background: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo i {
  font-size: 20px;
}

.search-box {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1000px;
  margin: 10px;
  gap: 5px;
}

.search-box input,
.search-box-text {
  width: 1200px;
  padding: 10px 15px;
  border: 1px solid rgb(225, 224, 224);
  border-radius: 10px;
  background: #ffffff;
  outline: none;
}

.search-box-text::placeholder {
  color: black;
}

.search-box i {
  position: absolute;
  right: 90px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(225, 224, 224);
}

.auth {
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth .btn {
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  height: 40px;
  width: 88px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.avatar {
  display: none;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 40px;
  min-height: calc(100vh - 240px);
  background: #ffffff;
}

.add-new-article {
  font-size: 28px;
  line-height: 28px;
  text-decoration: none;
  padding: 20px;
  color: #0d6efd;
  margin-bottom: 120px;
  background: #ffffff;
  border: none;
}

h1 {
  font-weight: 400;
}

/* Grid layout */
.posts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* Card */
.post-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  border: 1px solid #eee;
  width: 618.5px;
}

.post-card:hover {
  transform: translateY(-5px);
}

.post-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.post-card .date {
  font-size: 12px;
  color: #6c63ff;
  margin: 10px 15px;
}

.post-card h3 {
  margin: 0 15px;
  font-size: 18px;
}

.post-card .desc {
  font-size: 14px;
  color: #555;
  margin: 10px 15px;
}

/* Footer */
.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 15px;
}

.post-footer .tag {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.post-footer a {
  font-size: 12px;
  color: #ff4d6d;
  background: #f9f5ff;
  text-decoration: none;
}

/* Tag variations */
.post-footer .daily-journal {
  background: #f9f5ff;
  color: #6155f5;
}
.post-footer .work-career-st {
  background: #f0f9ff;
  color: #026aa2;
}
.post-footer .personal-thoughts {
  background: #f9f5ff;
  color: #027a48;
}
.post-footer .work-career-nd {
  background: #f9f5ff;
  color: #027a48;
}
.post-footer .emotions-feelings {
  background: #f9f5ff;
  color: #6155f5;
}
.post-footer .work-career-rd {
  background: #ecfdf3;
  color: #026aa2;
}
.pagination {
  text-align: center;
  margin-top: 30px;
}

.pagination button {
  border: none;
  background: none;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination .active {
  background: #6c63ff;
  color: white;
  border-radius: 5px;
}
.footer {
  background: #f3f3f3;
  padding: 40px 60px;
  margin-top: 40px;
  height: 240px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  padding-top: 30px;
}

.footer-logo h2 {
  font-size: 28px;
}

.footer-col {
  width: 180px;
}

.footer-col p {
  margin: 5px 0;
  color: #555;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
}

.footer-bottom i {
  margin: 0 10px;
}

.footer-bottom-btn {
  border: none;
}
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.modal-content {
  width: 600px;
  margin: 60px auto;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
}

.close,
.close-btn {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.cover img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Form */
.form {
  padding: 40px 20px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-header h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.form label {
  margin: 15px 0 5px;
  font-weight: 700;
  font-size: 16px;
}

.form input[type="text"],
.form input[type="file"],
.form select,
.form textarea {
  width: 100%;
  padding: 10px;
  background-color: #efefef;
  border: 1px solid #cccccc;
  border-radius: 3px;
  outline: none;
}

.form textarea {
  border: 1px solid #efefef;
}

.form button {
  margin-top: 20px;
  padding: 10px;
  height: 35px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background: #00861f;
}

/* Status */
.form-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.form-status input {
  height: 16px;
  width: 16px;
}

.form-status span {
  font-weight: 700;
  font-size: 16px;
}

.form-status label {
  font-weight: 400;
  font-size: 16px;
}

/* File input */
.input-file {
  text-align: center;
  border: 1px dashed #d0d5dd;
  width: 289px;
  height: 79px;
  color: #191d23;
  padding: 3px;
  border-radius: 4px;
}

.input-file input {
  display: none;
}

.input-file label {
  width: 241px;
  height: 38px;
  font-size: 14px;
  font-weight: 300;
}

input:focus {
  background: white;
}

.error {
  color: red;
  display: none;
}

.user-box {
  position: relative;
  display: inline-block;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}

/* POPUP */
.user-popup {
  position: absolute;
  top: 50px;
  right: 0;
  width: 260px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: none;
  padding: 10px 0;
  z-index: 999;
}

.user-popup.show {
  display: block;
}

/* TOP INFO */
.user-info-top {
  display: flex;
  gap: 10px;
  padding: 10px 15px;
  align-items: center;
}

.avatar-small {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.email {
  font-size: 12px;
  color: gray;
}

/* MENU */
.menu-item {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}

.menu-item:hover {
  background: #f5f5f5;
}

.logout {
  color: red;
}

.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content input[type="password"],
.modal-content input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 8px 12px;
  border: none;
  background: #0d6efd;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background: #0b5ed7;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

#filter-category {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  cursor: pointer;
}
