/* RESET */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9fafb;
}

/*  TOPBAR  */
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.icons {
  display: flex;
  gap: 15px
}

.icon-wrapper {
  position: relative;
  bottom: -8px;
}

.badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background: #6366f1;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/*  LAYOUT  */
.app {
  display: flex;

}

/* SIDEBAR */
.sidebar {
  width: 200px;
  padding: 15px;
  padding-top: 50px;
  background: transparent;

}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 12px;
  border: none;
  border-radius: 10px;
  background: #cfe2f3;
  color: #0b5ed7;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  box-shadow: 0 4px 4px #00000040;
}

.menu:hover {
  background: #b6d4fe;
}

.menu.active {
  background: #b6d4fe;
  font-weight: 600;
}

.icon-box {
  width: 20px;
  height: 20px;
  background: #ff6a00;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box img {
  width: 18px;
  height: 18px;
}

/*  MAIN  */
.main {
  flex: 1;
  padding: 40px 60px;
}

/* HEADER */
.post-header {
  max-width: 1100px;
  margin: 0 auto 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-header h2 {
  font-size: 28px;
  font-weight: 700;
}

.btn-add {
  position: absolute;
  left: 0;
  background: #6941c6;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: pointer;
}

/*  TABLE  */
.post-table {
  max-width: 1100px;
  margin: auto;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #eaecf0;
}

/* HEAD */
.post-head {
  display: grid;
  grid-template-columns: 80px 1.5fr 1fr 2fr 1fr 1.5fr 1fr;
  padding: 16px 20px;
  background: #f9fafb;
  font-weight: 600;
  font-size: 14px;
  color: #344054;
}

/* ROW */
.post-row {
  display: grid;
  grid-template-columns: 80px 1.5fr 1fr 2fr 1fr 1.5fr 1fr;
  align-items: center;
  padding: 16px 20px;
  border-top: 1px solid #eaecf0;
  font-size: 14px;
}

/* IMAGE */
.thumb {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

/* STATUS */
.status {
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 12px;
  width: fit-content;
}

.status.public {
  background: #d1fadf;
  color: #027a48;
}

.status.private {
  background: #fee4e2;
  color: #b42318;
}

/* STATUS SELECT */
.status-select {
  position: relative;
  width: fit-content;
}

.status-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 6px 30px 6px 10px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: #f9fafb;
  font-size: 13px;
  cursor: pointer;
}

.status-select::after {
  content: "▾";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #667085;
  pointer-events: none;
}

.status-select select:hover {
  border-color: #b6d4fe;
}

.status-select select:focus {
  outline: none;
  border-color: #7f56d9;
  box-shadow: 0 0 0 2px #f4ebff;
}

/* ACTIONS */
.actions {
  display: flex;
  gap: 8px;
}

.edit {
  background: #22c55e;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.delete {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

/*  PAGINATION  */
.pagination {
  max-width: 1100px;
  margin: 20px auto 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.page-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 10px;
  height: 36px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  background: white;
  font-size: 14px;
  color: #344054;
  cursor: pointer;
  transition: 0.2s;
}

.page-btn.prev {
  justify-self: start;
}

.page-btn.next {
  justify-self: end;
}

.page-btn img {
  width: 14px;
  height: 14px;
}

.page-btn:hover {
  background: #f9fafb;
}

.page-btn:active {
  transform: scale(0.98);
}

/* PAGE NUMBERS */
.pages {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-self: center;
}

.pages span {
  padding: 6px 10px;
  border-radius: 8px;
  color: #667085;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.pages span:hover {
  background: #f2f4f7;
}

.pages .active {
  background: #f4ebff;
  color: #7f56d9;
  font-weight: 600;
}